body {
    margin: auto 0;
    background-image: url(content/IMG_1876.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header {
    display: flex;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav li {
    margin: 0 10px;
    align-content: center;
}
