body {
    margin: auto;
}

.header {
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}


.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav li {
    margin: 10px;
    align-content: center;
}
